.tools {
    display: flex;
    justify-content: space-between;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 30%;
    min-width: 300px;
}

.navitems {
    display: flex;
    align-items: center;
    gap: 30px;
}

.Link{
    color: white;
    text-decoration: none;
}

.logout {
    color: white;
    background-color: red;
    border: none;
    font-size: 17px;
    border-radius: 7px;
    padding: 7px;
    cursor: pointer;
}

.logout:hover {
    background-color: rgb(205, 0, 0);
}